
body {
    background-color: #FEF5E4;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container-view {
    width: 60%;
    background-color: #fff;
}

.container-width {
    width: 90%;
}

/* header */
header {
    background-color: #fdbb40;
    position: relative;
}

header h1 {
    padding-top: 48px;
    padding-bottom: 24px;
    font-size: 32px;
    font-weight: 700;
}

.burger-img {
    position: absolute;
    transform: translate(20%, -15%);
    top: 0;
    right: 0;
}

.burger-img img {
    width: 100%;
}

/* main */
main {
    padding-bottom: 100px;
}

.title select {
    margin-top: 36px;
    border: none;
    color: #777;
    font-size: 26px;
    appearance: none;
    cursor: pointer;
}

.title select option {
    font-size: 14px;
    background-color: #fdbb40;
    color: #000;
}

.title h3 {
    font-size: 22px;
    padding-top: 36px;
}

/* scelta ingredienti */
form.ingredients {
    padding-top: 12px;
    padding-bottom: 24px;
}

form.ingredients img {
    width: 40px;
}

.food-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.food-item label:last-child {
    color: #d33359;
}

/* codice sconto */
.text-saled {
    padding-top: 36px;
    padding-bottom: 24px;
}

.text-saled input {
    background-color: #FEF5E4;
    border: none;
    border-radius: 5px;
    font-size: 12px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

/* button */
.button-total {
    font-weight: 700;
    background-color: #fdbb40;
    border: 3px solid #fdbb40;
}

.button-total:hover {
    border: 3px solid #f0cc8b;
    color: #333;
}

/* parte finale e risultato */
footer {
    background-color: #d33359;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    padding-top: 24px;
    padding-bottom: 24px;
}